/* About Page Styles */
.about-page {
    text-align: center;
    padding: 20px;
    background-color: #e4fae6; /* White for light mode */
  }
  
  /* Dark Mode for About Page */
  .dark-mode .about-page {
    background-color: #121212; /* Dark background for about page */
    color: white;
  }
  
  /* About Header */
  .about-header {
    margin-bottom: 20px;
  }
  
  .about-content {
    margin-top: 20px;
  }
  
  .team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .team-member {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    background-color: white; /* White background for members */
  }
  
  /* Dark Mode for Team Member */
  .dark-mode .team-member {
    background-color: #333; /* Dark background for team member */
    border-color: #555; /* Darker border color */
  }
  
  .github-link {
    color: #4CAF50; /* Green links */
    text-decoration: none;
  }
  
  /* Dark Mode for GitHub Link */
  .dark-mode .github-link {
    color: #81c784; /* Lighter green links in dark mode */
  }
  
  .github-link:hover {
    text-decoration: underline;
  }
  
  /* Go Home Button */
  .go-home {
    margin-top: 30px;
  }
  
  .go-home-link {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  /* Dark Mode for Go Home Link */
  .dark-mode .go-home-link {
    background-color: #388e3c; /* Darker green for go home button in dark mode */
  }
  
  .go-home-link:hover {
    background-color: #388e3c;
  }
  
  .go-home-link .fa-home {
    margin-right: 8px;
  }
  
  /* Footer */
  footer {
    background-color: #2e7d32;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  
  /* Dark Mode for Footer */
  .dark-mode footer {
    background-color: #333; /* Dark footer background in dark mode */
  }
  