/* styles for Footer.css */

.homepage-footer {
    background-color: #607761; /* Darker green */
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
  }
  
  .homepage-footer a {
    color: #61dafb;
    text-decoration: none;
  }
  
  .homepage-footer a:hover {
    text-decoration: underline;
  }  